@use "../abstracts/default" as d;

.aside-wrapper {
  grid-area: sidebar;
  width: 26rem;
  padding: 1rem 0 0.7rem 2.5rem;
  border-radius: d.$primary-radius;
  .pinned-music {
    width: auto;
    position: absolute;
    right: 0;
    top: 0.2rem;
    padding: 1.2rem;
  }
  .aside-library {
    margin-bottom: 4.5rem;
  }
  li {
    margin-bottom: 1.1rem;
    position: relative;
  }
  a {
    color: d.$primary-text-color;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 0.9rem;
    border-radius: 0.5rem;
    &:hover {
      background-color: d.$libray-hover-color;
    }

    img {
      width: 2rem;
      margin-right: 2.2rem;
    }
  }
}
