@use "../abstracts/default" as d;

.main-content {
  padding: 1.2rem 2.5rem;
}

.home__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.8rem;
}

.home__tabs {
  display: flex;
  gap: 0.5rem;
}

.home__tab {
  @include d.primary-button;

  &--active {
    background-color: #ffffff;
    color: #000;
  }
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.madeforu-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.madeforu-section__title {
  color: d.$primary-light-text-color; 
  font-size: 2rem;
  font-weight: 700;
}

.madeforu-section__actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}