@use "../abstracts/default" as d;
@use "../abstracts/mixins" as m;

.main-content {
  padding: 1.2rem 2.5rem;
}

.home__top {
  @include m.flex-between;
  margin-bottom: 3rem;
}

.home__tabs {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 34.5rem;
}

.home__tab {
  @include m.primary-button;
  // margin-right: 1rem;
}
.home__tab.focuse {
  background-color: #ffffff;
  color: rgb(17, 17, 17);
  font-weight: 600;
}

// .home__tab.focuse::after {
//   display: block;
//   content: attr(data-text);
//   font-weight: bold;
//   height: 0;
//   overflow: hidden;
//   visibility: hidden;
// }

.icon-btn {
  @include m.btn-reset;
  @include m.flex-center;
  padding: 1rem;
  
}

.content-section {
  margin-bottom: 3rem;
}

.content-section__header {
  @include m.flex-between;
  margin-bottom: 2.2rem;
}

.content-section__title {
  color: d.$primary-light-text-color;
  font-size: 2rem;
  font-weight: 700;
}

.content-section__actions {
  @include m.flex-align(1.6rem);
}

.music-card {
  @include m.card;
  position: relative;
}

.music-card__content {
  @include m.flex-between;
  margin-bottom: 0.8rem;
}

.music-card__image {
  margin-bottom: 0.6rem;

  img {
    border-radius: 1rem;
    display: block;
  }
}

.music-card__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: d.$primary-light-text-color;
}

.music-card__badge {
  font-size: 1.4rem;
  color: #ce6e9a;
}

.music-card__description {
  font-size: 1.2rem;
  color: d.$primary-text-color;
}

.music-card--artist {
  text-align: center;
}

.music-card--artist .music-card__image {
  margin-bottom: 1.2rem;

  img {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
}

.music-card__contents {
  @include m.flex-column(0.8rem);
}

.music-card__contents--podcast {
  position: relative;
  background-color: d.$primary-text-background;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
}

.music-card__contents--podcast::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 0.4rem;
  background-color: rgba(133, 197, 133, 0.6);

  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.card-flex {
  display: flex;
  gap: 1rem;
  overflow: auto;
}
