@use "../abstracts/default" as d;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.header-section {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: v.$color-bg-player;
  border-radius: v.$radius-lg;
}

.header-section nav,
.header-section nav ul {
  display: flex;
}

.header-section nav {
  width: 100%;
  justify-content: space-between;

  li {
    display: flex;
    margin-right: 1.5rem;
  }
  li:hover {
    background-color: v.$color-bg-secondary;
  }
  ul:first-of-type {
    li {
      padding: 1.2rem 3rem;
      border-radius: v.$radius-lg;
      a {
        width: 21rem;
      }
    }
    .header-home {
      background-color: v.$color-bg-secondary;
    }
  }

  ul:last-of-type {
    width: 24.5rem;
    justify-content: space-between;
    img {
      margin: 0;
    }
  }
}
.header-section nav a {
  color: v.$color-text-secondary;
  font-size: v.$text-sm;
  @include m.flex-align;
}
.header-section nav a img {
  margin-right: 1.8rem;
}
