@use "../abstracts/default" as d;
@use "../abstracts/mixins" as m;

.main-content--alb-background {
  background: linear-gradient(180deg, #1d2025 0%, #060606 100%);
}

.album-sidebar {
  width: 400px;
}

.album {
  &__header {
    display: grid;
    grid-template-columns: 40px 400px 136px;
    gap: 2rem;
    align-items: center;
    padding: 1.2rem;
    font-size: 1.4rem;
    color: d.$primary-text-color;
  }

  &__divider {
    height: 2px;
    background-color: rgba(d.$primary-text-color, 0.15);
    margin-bottom: 2rem;
  }

  &__list {
    @include m.flex-column;
  }
}

.song-row--album {
  grid-template-columns: 40px 400px 95px 18px;
  gap: 2rem;
}

.song-row--album:hover {
  background-color: rgb(17, 17, 17);
}

.song-row__title {
  font-weight: 400;
}
.album-active {
  background-color: d.$libray-hover-color;
}
