@use "../abstracts/default" as d;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.search-page__section-header {
  @include m.flex-between;
  margin-bottom: 1.5rem;
}

.search-page__section-title {
  font-size: 2rem;
  font-weight: 700;
  color: v.$color-text-primary;
}

.search-page__recent-list {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.recent-card {
  @include m.card;
  text-align: center;
}

.recent-card__image {
  position: relative;
  margin-bottom: 1.6rem;
}

.recent-card__remove {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: v.$color-bg-secondary;
  color: v.$color-text-secondary;
  font-size: v.$text-lg;
  cursor: pointer;
  @include m.flex-center;
}

.recent-card__remove:hover {
  color: v.$color-text-primary;
}

.recent-card__title {
  font-weight: 400;
  font-size: v.$text-sm;
  color: v.$color-text-primary;
}

.recent-card__subtitle {
  font-size: v.$text-xs;
  color: v.$color-text-secondary;
}

/*-- browse all sectction starts here --*/

.search-page__main-title {
  font-weight: 700;
  margin-bottom: 2.6rem;
  font-size: v.$text-lg;
  color: v.$color-text-primary;
}

.search-page__browse-header {
  @include m.flex-between;
  margin-bottom: 1.5rem;
}

.search-page__browse-title {
  font-weight: 500;
  font-size: v.$text-md;
  color: v.$color-text-primary;
}

.search-page__actions {
  display: flex;
  gap: 1rem;
}

/*-- Discover row --*/

.search-page__browse-section {
  margin-bottom: 2rem;
}

.category-card {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: v.$radius-lg;
  overflow: hidden;
  cursor: pointer;
}

.category-card--blue {
  min-width: 17rem;
  margin-right: 1.15rem;
}

.category-card__title {
  position: relative;
  z-index: 10;
  font-weight: 900;
  font-size: v.$text-lg;
  color: v.$color-text-primary;
  padding: 2rem;
}

.category-card__image {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  transform: rotate(25deg);
  transition:
    transform 0.3s ease,
    bottom 0.3s ease,
    right 0.3s ease;
}

.category-card__image img {
  border-radius: v.$radius-sm;
  @include m.image-cover;
}

.category-card:hover .category-card__image {
  transform: rotate(0deg);
  bottom: 0;
  right: 0;
  z-index: 20;
}

.category-flex {
  display: flex;
  overflow: auto;
}
.header-search {
  background-color: v.$color-bg-secondary;
}
