@import url("https://api.fontshare.com/v2/css?f[]=satoshi@500,700,400&display=swap");

// ცვლადები
$primary-radius: 1rem;
$primary-button-radius:0.8rem;
$primary-theme-color: rgba(6, 6, 6, 1);
$primary-text-background: rgb(17, 17, 17);
$primary-text-color: rgba(137, 137, 137, 1);
$primary-light-text-color: rgb(224, 224, 224);
$libray-hover-color:rgb(32, 32, 32);
$player-background: rgb(51, 56, 66);

@mixin primary-button {
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: $primary-text-background;
  color: $primary-light-text-color;
  font-size: 1.4rem;
  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    background-color: #3a3a3a;
  }
}

body {
  background-color: $primary-theme-color;
  font-family: "Satoshi";
  font-weight: 400;
  letter-spacing: 3%;
  padding: 1rem 1rem 0 0.9rem;
  button {
    font-family: "Satoshi";
    font-weight: 400;
    letter-spacing: 3%;
  }
}

.content-wrapper {
  display: grid;
  padding-bottom: 1.2rem;
  grid-template-columns: 26rem 1fr;
  grid-template-rows: 5rem 1fr 8rem;
  height: calc(100vh - 10px);
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  column-gap: 0.7rem;

}
.primary-active-text {
  color: $primary-light-text-color !important;
}
