<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <title>SHUSHANIKI</title>
</head>

<body>
  <div class="content-wrapper">
    <aside class="aside-wrapper">
      <nav>
        <ul>
          <li class="aside-library">
            <a href="">
              <img src="../asset/icons/Library.svg" alt="Library" />
              My Library
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Pins.svg" alt="Pins" />
              Pins
              <img class="pinned-music" src="../asset/icons/right-arrow.svg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Playlist.svg" alt="Playlist" />
              Playlist
              <img class="pinned-music" src="../asset/icons/right-arrow.svg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Liked songs.svg" alt="Liked songs" />
              Liked songs
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Saves.svg" alt="Saves" />
              Saves
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Albums.svg" alt="Albums" />
              Albums
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Folders.svg" alt="Folders" />
              Folders
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Podcasts.svg" alt="Podcasts" />
              Podcasts
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Audiobooks.svg" alt="Audiobooks" />
              Audiobooks
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Artists.svg" alt="Artists" />
              Artists
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <header class="header-section">
      <nav>
        <ul>
          <li class="header-home">
            <a href="">
              <img src="../asset/icons/Home-active.svg" alt="Home" />
              Home
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Discover.svg" alt="Discover" />
              Discover
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Search.svg" alt="Search" />
              Search
            </a>
          </li>
        </ul>

        <!-- header navigation on left -->
        <ul>
          <li>
            <a href="">
              <img src="../asset/icons/Notification.svg" alt="Notification" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/block.svg" alt="block" />
            </a>
          </li>
          <li id="friends">
            <a href="#">
              <img src="../asset/icons/Groups.svg" alt="Groups" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Settings.svg" alt="Settings" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Sprite.svg" alt="Sprite" />
            </a>
          </li>
        </ul>
      </nav>
    </header>


    <main class="main-container">
      <section class="main-content">



        <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
      
    
    
      </section>
      <section class="friend-list">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section>
    </main>


    <footer></footer>
  </div>
  <script src="../script.js"></script>
  <script src="../data.js"></script>
</body>

</html>