<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <title>SHUSHANIKI</title>
</head>

<body>
  <div class="content-wrapper">
    <aside class="aside-wrapper">
      <nav>
        <ul>
          <li class="aside-library">
            <a href="">
              <img src="../asset/icons/Library.svg" alt="Library" />
              My Library
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Pins.svg" alt="Pins" />
              Pins
              <img class="pinned-music" src="../asset/icons/right-arrow.svg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Playlist.svg" alt="Playlist" />
              Playlist
              <img class="pinned-music" src="../asset/icons/right-arrow.svg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Liked songs.svg" alt="Liked songs" />
              Liked songs
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Saves.svg" alt="Saves" />
              Saves
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Albums.svg" alt="Albums" />
              Albums
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Folders.svg" alt="Folders" />
              Folders
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Podcasts.svg" alt="Podcasts" />
              Podcasts
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Audiobooks.svg" alt="Audiobooks" />
              Audiobooks
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Artists.svg" alt="Artists" />
              Artists
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <header class="header-section">
      <nav>
        <ul>
          <li class="header-home">
            <a href="">
              <img src="../asset/icons/Home-active.svg" alt="Home" />
              Home
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Discover.svg" alt="Discover" />
              Discover
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Search.svg" alt="Search" />
              Search
            </a>
          </li>
        </ul>

        <!-- header navigation on left -->
        <ul>
          <li>
            <a href="">
              <img src="../asset/icons/Notification.svg" alt="Notification" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/block.svg" alt="block" />
            </a>
          </li>
          <li id="friends">
            <a href="#">
              <img src="../asset/icons/Groups.svg" alt="Groups" />
              <img src="../asset/icons/Groups-active.svg" alt="Friend List" class="friend-list-active" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Settings.svg" alt="Settings" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Sprite.svg" alt="Sprite" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- გვანცას კოდი აქედან იწყება -->
    <main class="main-container">
      <section class="main-content">

        <section class="home__top">

          <div class="home__tabs">
            <button class="home__tab home__tab--active">All</button>
            <button class="home__tab">Music</button>
            <button class="home__tab">Podcasts</button>
            <button class="home__tab">Audiobooks</button>
          </div>

          <button class="icon-btn">
            <img src="../asset/icons/filter.svg" alt="Filter">
          </button>

        </section>


        <!-- Made For You Section -->
        <section class="content-section">

          <div class="content-section__header">
            <h2 class="content-section__title">Made For You</h2>

            <div class="content-section__actions">
              <button class="icon-btn">
                <img src="../asset/icons/preview-arrow.svg" alt="Previous">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/next-arrow.svg" alt="Next">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/threedots.svg" alt="More">
              </button>
            </div>
          </div>

          <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
          <div id="music-container" class="card-grid"></div>

        </section>

        <!-- Your Top Mixes Section -->
        <section class="content-section">

          <div class="content-section__header">
            <h2 class="content-section__title">Your Top Mixes</h2>

            <div class="content-section__actions">
              <button class="icon-btn">
                <img src="../asset/icons/preview-arrow.svg" alt="Previous">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/next-arrow.svg" alt="Next">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/threedots.svg" alt="More">
              </button>
            </div>
          </div>

          <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
          <div id="music-container" class="card-grid"></div>

        </section>

        <!-- Your favorite artists Section -->
        <section class="content-section">

          <div class="content-section__header">
            <h2 class="content-section__title">Your favorite artists</h2>

            <div class="content-section__actions">
              <button class="icon-btn">
                <img src="../asset/icons/preview-arrow.svg" alt="Previous">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/next-arrow.svg" alt="Next">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/threedots.svg" alt="More">
              </button>
            </div>
          </div>

          <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
          <div id="music-container" class="card-grid"></div>

        </section>

        <!-- Audiobooks for you Section -->
        <section class="content-section">

          <div class="content-section__header">
            <h2 class="content-section__title">Audiobooks for you</h2>

            <div class="content-section__actions">
              <button class="icon-btn">
                <img src="../asset/icons/preview-arrow.svg" alt="Previous">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/next-arrow.svg" alt="Next">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/threedots.svg" alt="More">
              </button>
            </div>
          </div>

          <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
          <div id="music-container" class="card-grid"></div>

        </section>

        <!-- Podcasts for you Section -->
        <section class="content-section">

          <div class="content-section__header">
            <h2 class="content-section__title">Podcasts for you</h2>

            <div class="content-section__actions">
              <button class="icon-btn">
                <img src="../asset/icons/preview-arrow.svg" alt="Previous">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/next-arrow.svg" alt="Next">
              </button>

              <button class="icon-btn">
                <img src="../asset/icons/threedots.svg" alt="More">
              </button>
            </div>
          </div>

          <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
          <div id="music-container" class="card-grid"></div>

        </section>


      </section>
      <section class="friend-list">
        <div class="friend-list-action">
          <p>Friends Activity</p>
          <div class="action">
            <img src="../asset/icons/add-friend.svg" alt="Add Friend">
            <img src="../asset/icons/close.svg" alt="Close" id="close-btn">
          </div>
        </div>
        <ul class="friend-list-wrapper">
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-red.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">FriendlyMusicListener</p>
              <span>
                <img src="../asset/icons/vector-green.svg" alt="listening">
                <p class="music-name">Goosebumps</p>
                <p class="music-style">&#8226; Travis Scott</p>
              </span>
            </div>
          </li>
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-blue.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">AverageMusicEnjoyer</p>
              <span>
                <img src="../asset/icons/vector-green.svg" alt="listening">
                <p class="music-name">Get Lucky</p>
                <p class="music-style">&#8226; Daft Punk</p>
              </span>
            </div>
          </li>
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-green.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">MusicEnthusiast</p>
              <span>
                <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                <p class="music-style offline">1h</p>
                <p class="music-name">would he</p>
                <p class="music-style">&#8226; joji</p>
              </span>
            </div>
          </li>
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-red.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">IListenToMusic56</p>
              <span>
                <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                <p class="music-style offline">6h</p>
                <p class="music-name">Rockstar</p>
                <p class="music-style">&#8226; Post Malone</p>
              </span>
            </div>
          </li>
        </ul>
      </section>
    </main>


    <footer></footer>
  </div>
  <script src="../script.js"></script>
  <script src="../data.js"></script>
</body>

</html>