<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <title>Spotify | Library</title>
</head>

<body>
  <div class="content-wrapper">
    <aside class="aside-wrapper active">
      <nav>
        <ul>
          <li class="aside-library">
            <a href="./library.html" class="primary-active-text">
              <img src="../asset/icons/Library-active.svg" alt="Library" />
              My Library
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Pins.svg" alt="Pins" />
              Pins
              <img class="pinned-music" src="../asset/icons/right-arrow.svg" />
            </a>
          </li>
          <li>
            <a href="./playlist.html">
              <img src="../asset/icons/Playlist.svg" alt="Playlist" />
              Playlist
              <img class="pinned-music" src="../asset/icons/right-arrow.svg" />
            </a>
          </li>
          <li>
            <a href="./likedsongs.html">
              <img src="../asset/icons/Liked songs.svg" alt="Liked songs" />
              Liked songs
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Saves.svg" alt="Saves" />
              Saves
            </a>
          </li>
          <li>
            <a href="./album.html">
              <img src="../asset/icons/Albums.svg" alt="Albums" />
              Albums
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Folders.svg" alt="Folders" />
              Folders
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Podcasts.svg" alt="Podcasts" />
              Podcasts
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Audiobooks.svg" alt="Audiobooks" />
              Audiobooks
            </a>
          </li>
          <li>
            <a href="./artistpage.html">
              <img src="../asset/icons/Artists.svg" alt="Artists" />
              Artists
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <header class="header-section">
      <nav>
        <ul>
          <li>
            <a href="./home.html">
              <img src="../asset/icons/Home.svg" alt="Home" />
              Home
            </a>
          </li>
          <li>
            <a href="./discover.html">
              <img src="../asset/icons/Discover.svg" alt="Discover" />
              Discover
            </a>
          </li>
          <li>
            <a href="./search.html">
              <img src="../asset/icons/Search.svg" alt="Search" />
              Search
            </a>
          </li>
        </ul>

        <!-- header navigation on left -->
        <ul>
          <li>
            <a href="">
              <img src="../asset/icons/Notification.svg" alt="Notification" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/block.svg" alt="block" />
            </a>
          </li>
          <li id="friends">
            <a href="#">
              <img src="../asset/icons/Groups.svg" alt="Groups" />
              <img src="../asset/icons/Groups-active.svg" alt="Friend List" class="friend-list-active" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Settings.svg" alt="Settings" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../asset/icons/Sprite.svg" alt="Sprite" />
            </a>
          </li>
        </ul>
      </nav>
    </header>


    <main class="main-container">
      <section class="main-content">
        <!-- გვანცას კოდი იწყება აქ -->
        <section class="library-page">

            <div class="library-page__topbar">

                <!-- Left side -->
                <div class="library-page__controls">

                    <button class="icon-btn">
                        <img src="../asset/icons/menu.svg" alt="Menu">
                    </button>

                    <button class="icon-btn library-page__view-btn is-active">
                        <img src="../asset/icons/grid.svg" alt="Grid view">
                    </button>

                    <div class="library-page__sort">
                        <button class="icon-btn">
                        <img src="../asset/icons/sort.svg" alt="Sort">
                        </button>
                        <span class="library-page__sort-label">Recent</span>
                    </div>

                    <div class="library-page__group">
                        <button class="icon-btn">
                        <img src="../asset/icons/group.svg" alt="Group">
                        </button>
                        <span class="library-page__group-label">Group</span>
                    </div>

                    <button class="icon-btn">
                        <img src="../asset/icons/search.svg" alt="Search">
                    </button>

                </div>

                <!-- Right side -->
                <button class="icon-btn library-page__add-btn">
                    <img src="../asset/icons/plus.svg" alt="Add">
                </button>

            </div>

        </section>

        <section class="library-section">
            <div id="library-cards" class="library-section__cards" >
                <!-- CARD -->
                <div class="library-card">

                    <div class="library-card__image">
                        <img src="../asset/images/likedsong.png" alt="Liked songs">

                        <div class="library-card__pin">
                            <img src="../asset/icons/pinned.svg" alt="Pinned">
                        </div>
                    </div>

                    <div class="library-card__content">

                        <div class="library-card__header">
                            <h3 class="library-card__title">Liked songs</h3>
                            <span class="library-card__count">8</span>
                        </div>

                        <p class="library-card__description">
                        Numb, Crawling, In the End, and more
                        </p>

                    </div>

                </div>
                <!-- END CARD -->
            </div>
        </section>
        <!-- გვანცას კოდი მთავრდება აქ -->

        <!-- <div id="music-container"></div>  --> <!-- ეს კონტეინერი აგენერირებს ქარდებს -->

      </section>
      <section class="friend-list">
        <div class="friend-list-action">
          <p>Friends Activity</p>
          <div class="action">
            <img src="../asset/icons/add-friend.svg" alt="Add Friend">
            <img src="../asset/icons/close.svg" alt="Close" id="close-btn">
          </div>
        </div>
        <ul class="friend-list-wrapper">
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-red.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">FriendlyMusicListener</p>
              <span>
                <img src="../asset/icons/vector-green.svg" alt="listening">
                <p class="music-name">Goosebumps</p>
                <p class="music-style">&#8226; Travis Scott</p>
              </span>
            </div>
          </li>
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-blue.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">AverageMusicEnjoyer</p>
              <span>
                <img src="../asset/icons/vector-green.svg" alt="listening">
                <p class="music-name">Get Lucky</p>
                <p class="music-style">&#8226; Daft Punk</p>
              </span>
            </div>
          </li>
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-green.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">MusicEnthusiast</p>
              <span>
                <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                <p class="music-style offline">1h</p>
                <p class="music-name">would he</p>
                <p class="music-style">&#8226; joji</p>
              </span>
            </div>
          </li>
          <li>
            <div class="friend-profile-image">
              <img src="../asset/images/friend-image-red.svg" alt="Friend">
            </div>
            <div class="info-about-friend">
              <p class="friend-name">IListenToMusic56</p>
              <span>
                <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                <p class="music-style offline">6h</p>
                <p class="music-name">Rockstar</p>
                <p class="music-style">&#8226; Post Malone</p>
              </span>
            </div>
          </li>
        </ul>
      </section>
    </main>


    <footer></footer>
  </div>
  <script src="../script.js"></script>
  <script type="module" src="../data.js"></script>
</body>

</html>