<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>SHUSHANIKI</title>
  </head>

  <body>
    <div class="content-wrapper">
      <aside class="aside-wrapper">
        <nav>
          <ul>
            <li class="aside-library">
              <a href="">
                <img src="../asset/icons/Library.svg" alt="Library" />
                My Library
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Pins.svg" alt="Pins" />
                Pins
                <img
                  class="pinned-music"
                  src="../asset/icons/right-arrow.svg"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Playlist.svg" alt="Playlist" />
                Playlist
                <img
                  class="pinned-music"
                  src="../asset/icons/right-arrow.svg"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Liked songs.svg" alt="Liked songs" />
                Liked songs
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Saves.svg" alt="Saves" />
                Saves
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Albums.svg" alt="Albums" />
                Albums
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Folders.svg" alt="Folders" />
                Folders
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Podcasts.svg" alt="Podcasts" />
                Podcasts
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Audiobooks.svg" alt="Audiobooks" />
                Audiobooks
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Artists.svg" alt="Artists" />
                Artists
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <header class="header-section">
        <nav>
          <ul>
            <li class="header-home">
              <a href="">
                <img src="../asset/icons/Home-active.svg" alt="Home" />
                Home
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Discover.svg" alt="Discover" />
                Discover
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Search.svg" alt="Search" />
                Search
              </a>
            </li>
          </ul>

          <!-- header navigation on left -->
          <ul>
            <li>
              <a href="">
                <img src="../asset/icons/Notification.svg" alt="Notification" />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/block.svg" alt="block" />
              </a>
            </li>
            <li id="friends">
              <a href="#">
                <img src="../asset/icons/Groups.svg" alt="Groups" />
                <img
                  src="../asset/icons/Groups-active.svg"
                  alt="Friend List"
                  class="friend-list-active"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Settings.svg" alt="Settings" />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Sprite.svg" alt="Sprite" />
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <main class="main-container">
        <section class="main-content main-content--background">
          <!-- გვანცა იწყება აქ-->
          <section class="playlist">
            <div class="playlist-layout">
              <div class="playlist-left">
                <!-- HERO SECTION -->
                <section class="playlist-hero">
                  <div class="playlist-hero__inner">
                    <div class="playlist-hero__info">
                      <h1 class="playlist-hero__title">Daft Punk Mix</h1>
                      <p class="playlist-hero__meta">
                        By <span>Spotify</span> • 50 songs • 3 hr 30 min
                      </p>
                    </div>

                    <!-- ACTIONS ROW -->
                    <div class="playlist-hero__actions">
                      <!-- LEFT SIDE BUTTONS -->
                      <div class="playlist-hero__controls">
                        <button class="playlist-hero__play">
                          <img src="../asset/icons/play.svg" alt="Play" />
                        </button>

                        <button class="playlist-hero__button">
                          <img src="../asset/icons/shuffle.svg" alt="Shuffle" />
                        </button>

                        <button class="playlist-hero__button">
                          <img src="../asset/icons/plus.svg" alt="Add" />
                        </button>

                        <button class="playlist-hero__button">
                          <img
                            src="../asset/icons/queue.svg"
                            alt="Add to queue"
                          />
                        </button>

                        <button class="playlist-hero__button">
                          <img
                            src="../asset/icons/download.svg"
                            alt="Download"
                          />
                        </button>

                        <button class="playlist-hero__button">
                          <img src="../asset/icons/share.svg" alt="Share" />
                        </button>

                        <button class="playlist-hero__button">
                          <img
                            src="../asset/icons/threedots.svg"
                            alt="More options"
                          />
                        </button>
                      </div>

                      <!-- RIGHT SIDE SEARCH -->
                      <button class="playlist-hero__button">
                        <img src="../asset/icons/search.svg" alt="Search" />
                      </button>
                    </div>
                </section>

                <section class="liked-songs">
                  <div class="liked-songs__header">
                    <span class="liked-songs__col liked-songs__col--number"
                      >#</span
                    >
                    <span class="liked-songs__col liked-songs__col--title"
                      >Title</span
                    >
                    <span class="liked-songs__col liked-songs__col--album"
                      >Album</span
                    >
                    <span class="liked-songs__col liked-songs__col--duration"
                      >Duration</span
                    >
                  </div>

                  <div class="liked-songs__divider-light"></div>

                  <!-- SONG LIST -->
                  <div class="liked-songs__list">
                    <div class="song-row song-row--active">
                      <span class="song-row__number">1</span>

                      <div class="song-row__title-group">
                        <img
                          src="../asset/images/getlucky.png"
                          alt="Album cover"
                        />
                        <div class="song-row__text">
                          <h3 class="song-row__title">Get Lucky</h3>
                          <p class="song-row__artist">Daft Punk</p>
                        </div>
                      </div>

                      <span class="song-row__album"
                        >Random Access Memories</span
                      >
                      <span class="song-row__duration">4:35</span>

                      <div class="song-row__liked">
                        <img
                          src="../asset/icons/like.svg"
                          alt="Liked"
                        />
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <aside class="playlist-sidebar">

  <!-- PLAYLIST CARD -->
  <div class="playlist-sidebar__card">
    <img
      src="../asset/images/Daft-Punk-Mix.svg"
      alt="Daft Punk Mix"
    />
  </div>

  <!-- GENRES -->
  <div class="playlist-sidebar__genres">
    <button class="playlist-sidebar__genre">Funk</button>
    <button class="playlist-sidebar__genre">Electronic music</button>
    <button class="playlist-sidebar__genre">Disco</button>
    <button class="playlist-sidebar__genre">Soft Rock</button>
    <button class="playlist-sidebar__genre">Progressive pop</button>
  </div>

  <!-- FEATURED ARTISTS -->
  <div class="playlist-sidebar__artists">

    <div class="playlist-sidebar__artist">
      <img src="../asset/images/daft punk pn.png" alt="Daft Punk" />
      <span class="playlist-sidebar__artist-name">
        Daft Punk
      </span>
    </div>

    <div class="playlist-sidebar__artist">
      <img src="../asset/images/Pharrell-Williams.png" alt="Pharrell Williams" />
      <span class="playlist-sidebar__artist-name">
        Pharrell Williams
      </span>
    </div>

    <div class="playlist-sidebar__artist">
      <img src="../asset/images/Nile Rodgers.png" alt="Nile Rodgers" />
      <span class="playlist-sidebar__artist-name">
        Nile Rodgers
      </span>
    </div>

  </div>

</aside>
            </div>
          </section>

          <!-- <div id="music-container"></div>  -->
          <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
        </section>
        <section class="friend-list">
          <div class="friend-list-action">
            <p>Friends Activity</p>
            <div class="action">
              <img src="../asset/icons/add-friend.svg" alt="Add Friend" />
              <img src="../asset/icons/close.svg" alt="Close" id="close-btn" />
            </div>
          </div>
          <ul class="friend-list-wrapper">
            <li>
              <div class="friend-profile-image">
                <img src="../asset/images/friend-image-red.svg" alt="Friend" />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">FriendlyMusicListener</p>
                <span>
                  <img src="../asset/icons/vector-green.svg" alt="listening" />
                  <p class="music-name">Goosebumps</p>
                  <p class="music-style">&#8226; Travis Scott</p>
                </span>
              </div>
            </li>
            <li>
              <div class="friend-profile-image">
                <img src="../asset/images/friend-image-blue.svg" alt="Friend" />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">AverageMusicEnjoyer</p>
                <span>
                  <img src="../asset/icons/vector-green.svg" alt="listening" />
                  <p class="music-name">Get Lucky</p>
                  <p class="music-style">&#8226; Daft Punk</p>
                </span>
              </div>
            </li>
            <li>
              <div class="friend-profile-image">
                <img
                  src="../asset/images/friend-image-green.svg"
                  alt="Friend"
                />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">MusicEnthusiast</p>
                <span>
                  <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                  <p class="music-style offline">1h</p>
                  <p class="music-name">would he</p>
                  <p class="music-style">&#8226; joji</p>
                </span>
              </div>
            </li>
            <li>
              <div class="friend-profile-image">
                <img src="../asset/images/friend-image-red.svg" alt="Friend" />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">IListenToMusic56</p>
                <span>
                  <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                  <p class="music-style offline">6h</p>
                  <p class="music-name">Rockstar</p>
                  <p class="music-style">&#8226; Post Malone</p>
                </span>
              </div>
            </li>
          </ul>
        </section>
      </main>

      <footer></footer>
    </div>
    <script src="../script.js"></script>
    <script type="module" src="../data.js"></script>
  </body>
</html>
