<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>SHUSHANIKI</title>
  </head>

  <body>
    <div class="content-wrapper">
      <aside class="aside-wrapper">
        <nav>
          <ul>
            <li class="aside-library">
              <a href="">
                <img src="../asset/icons/Library.svg" alt="Library" />
                My Library
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Pins.svg" alt="Pins" />
                Pins
                <img
                  class="pinned-music"
                  src="../asset/icons/right-arrow.svg"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Playlist.svg" alt="Playlist" />
                Playlist
                <img
                  class="pinned-music"
                  src="../asset/icons/right-arrow.svg"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Liked songs.svg" alt="Liked songs" />
                Liked songs
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Saves.svg" alt="Saves" />
                Saves
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Albums.svg" alt="Albums" />
                Albums
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Folders.svg" alt="Folders" />
                Folders
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Podcasts.svg" alt="Podcasts" />
                Podcasts
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Audiobooks.svg" alt="Audiobooks" />
                Audiobooks
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Artists.svg" alt="Artists" />
                Artists
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <header class="header-section">
        <nav>
          <ul>
            <li class="header-home">
              <a href="">
                <img src="../asset/icons/Home-active.svg" alt="Home" />
                Home
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Discover.svg" alt="Discover" />
                Discover
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Search.svg" alt="Search" />
                Search
              </a>
            </li>
          </ul>

          <!-- header navigation on left -->
          <ul>
            <li>
              <a href="">
                <img src="../asset/icons/Notification.svg" alt="Notification" />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/block.svg" alt="block" />
              </a>
            </li>
            <li id="friends">
              <a href="#">
                <img src="../asset/icons/Groups.svg" alt="Groups" />
                <img
                  src="../asset/icons/Groups-active.svg"
                  alt="Friend List"
                  class="friend-list-active"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Settings.svg" alt="Settings" />
              </a>
            </li>
            <li>
              <a href="">
                <img src="../asset/icons/Sprite.svg" alt="Sprite" />
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <main class="main-container">
        <section class="main-content main-content--alb-background">
          <!-- გვანცა იწყება აქ-->
          <section class="song">
            <div class="song__container">
              <!--  HERO -->
              <section class="song-hero">
                <div class="song-hero__image">
                  <img
                    src="../asset/images/daftpunk-alb.svg"
                    alt="Random Access Memories"
                  />
                </div>

                <div class="song-hero__info">
                  <h1 class="song-hero__title">
                    Get Lucky (feat. Pharrell Williams and Nile Rodgers)
                  </h1>

                  <div class="song-hero__meta">
                    <span class="song-hero__meta-title">Daft Punk</span>
                    <span class="song-hero__meta-title">Random Access Memories</span>
                    <span>2013</span>
                    <span>6:09</span>
                    <span>489,691,133</span>
                  </div>

                  <!-- CONTROLS -->
                  <div class="song-hero__controls">
                    <img src="../asset/icons/play.svg" alt="Play" />
                    <img src="../asset/icons/like.svg" alt="Like" />
                    <img src="../asset/icons/add.svg" alt="Add" />
                    <img src="../asset/icons/queue.svg" alt="queue" />
                    <img src="../asset/icons/download.svg" alt="Download" />
                    <img src="../asset/icons/share.svg" alt="Share" />
                    <img src="../asset/icons/threedots.svg" alt="More" />
                  </div>

                  <!-- GENRES -->
                  <div class="song-hero__genres">
                    <span>Funk</span>
                    <span>Electronic music</span>
                    <span>Disco</span>
                    <span>Soft Rock</span>
                    <span>Progressive pop</span>
                  </div>

                  <!-- ARTISTS -->
                  <div class="song-hero__artists">
                    <div class="song-hero__artist">
                      <img src="../asset/images/daft punk pn.png" alt="daft punk" />
                      <div>
                        <p class="song-hero__artist-name">Daft Punk</p>
                        <span>Main artist</span>
                      </div>
                    </div>

                    <div class="song-hero__artist">
                      <img src="../asset/images/Pharrell-Williams.png" alt="Pharrell-Williams" />
                      <div>
                        <p class="song-hero__artist-name">Pharrell Williams</p>
                        <span>Main artist, Composer, Lyricist</span>
                      </div>
                    </div>

                    <div class="song-hero__artist">
                      <img src="../asset/images/Nile Rodgers.png" alt="Nile Rodgers" />
                      <div>
                        <p class="song-hero__artist-name">Nile Rodgers</p>
                        <span>Main artist, Composer, Lyricist</span>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

        
          
            </div>
          </section>

          <!-- <div id="music-container"></div>  -->
          <!-- ეს კონტეინერი აგენერირებს ქარდებს -->
        </section>
        <section class="friend-list">
          <div class="friend-list-action">
            <p>Friends Activity</p>
            <div class="action">
              <img src="../asset/icons/add-friend.svg" alt="Add Friend" />
              <img src="../asset/icons/close.svg" alt="Close" id="close-btn" />
            </div>
          </div>
          <ul class="friend-list-wrapper">
            <li>
              <div class="friend-profile-image">
                <img src="../asset/images/friend-image-red.svg" alt="Friend" />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">FriendlyMusicListener</p>
                <span>
                  <img src="../asset/icons/vector-green.svg" alt="listening" />
                  <p class="music-name">Goosebumps</p>
                  <p class="music-style">&#8226; Travis Scott</p>
                </span>
              </div>
            </li>
            <li>
              <div class="friend-profile-image">
                <img src="../asset/images/friend-image-blue.svg" alt="Friend" />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">AverageMusicEnjoyer</p>
                <span>
                  <img src="../asset/icons/vector-green.svg" alt="listening" />
                  <p class="music-name">Get Lucky</p>
                  <p class="music-style">&#8226; Daft Punk</p>
                </span>
              </div>
            </li>
            <li>
              <div class="friend-profile-image">
                <img
                  src="../asset/images/friend-image-green.svg"
                  alt="Friend"
                />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">MusicEnthusiast</p>
                <span>
                  <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                  <p class="music-style offline">1h</p>
                  <p class="music-name">would he</p>
                  <p class="music-style">&#8226; joji</p>
                </span>
              </div>
            </li>
            <li>
              <div class="friend-profile-image">
                <img src="../asset/images/friend-image-red.svg" alt="Friend" />
              </div>
              <div class="info-about-friend">
                <p class="friend-name">IListenToMusic56</p>
                <span>
                  <!-- <img src="./asset/icons/vector-green.svg" alt="listening"> -->
                  <p class="music-style offline">6h</p>
                  <p class="music-name">Rockstar</p>
                  <p class="music-style">&#8226; Post Malone</p>
                </span>
              </div>
            </li>
          </ul>
        </section>
      </main>

      <footer></footer>
    </div>
    <script src="../script.js"></script>
    <script type="module" src="../data.js"></script>
  </body>
</html>
