@use "../abstracts/default" as d;

.artist-albums {
  padding: 4rem 2.5rem;
}

.artist-albums__cards {
  display: flex;
  flex-wrap: wrap;           
}

/* Card */
.artist-album-card {
  width: 170px;
  cursor: pointer;
  margin: 0 1.1rem 5rem 1.1rem;
}

/* Image Block */
.artist-album-card__image {
  position: relative;
  margin-bottom: 0.6rem;

  img {
    width: 100%;
    display: block;
  }
}

/* text */
.artist-album-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.artist-album-card__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: d.$primary-light-text-color;
}

.artist-album-card__count {
  font-size: 1.4rem;
  color: d.$primary-text-color;
}

.artist-album-card__description {
  font-size: 1.2rem;
  color: d.$primary-text-color;
}