@use "../abstracts/default" as d;

.artist-hero {
  position: relative; 
  height: 426px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Overlay */
.artist-hero__overlay { 
  position: absolute;
  border-radius: inherit;
  inset: 0; 
    } 

.artist-hero__overlay img {
  object-fit: cover;
}    

/* Content */
.artist-hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 3.5rem;
}

/* Text */
.artist-hero__name {
  font-size: 5rem;
  font-weight: 900;
  color: d.$primary-light-text-color;
  margin-bottom: 2rem;
}

.artist-hero__listeners {
  font-size: 1.4rem;
  color: d.$primary-light-text-color;
}

/* Actions */
.artist-hero__actions {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

/* Base button */
.btn {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* Play */
.btn--play {
  width: 40px;
}

/* Follow */
.btn--follow {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: rgba(137, 137, 137, 0.25);
  color: d.$primary-light-text-color;
  font-size: 1.4rem;
}

/* Icon buttons */
.btn--icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--icon img {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.btn--icon:hover img {
  opacity: 1;
}

.main-content--no-padding {
  padding: 0
}

/* nav starts here */
.artist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.6rem;
  border-bottom: 0.1rem solid rgb(32, 32, 32);
}

/* List */
.artist-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

/* Buttons */
.artist-nav__btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: d.$primary-text-color;
  position: relative;
  transition: color 0.2s ease;
}

.artist-nav__btn:hover, .artist-nav__btn--active {
  color: d.$primary-light-text-color;
}

.artist-nav__btn--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background: rgba(30, 215, 96, 1);
  border-radius: 2px;
}

/* Search */
.artist-nav__search {
  background: none;
  border: none;
  cursor: pointer;
}

.artist-nav__search img {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.artist-nav__search:hover img {
  opacity: 1;
}

/* main content */
.artist-main {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 4rem 2.5rem;
}

/* main left content */
.artist-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}

.track-item__info {
  cursor: pointer;
}

.artist-section__title {
  font-size: 2rem;
  font-weight: 700;
  color: d.$primary-light-text-color;
}

.track-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.track-item {
  display: grid;
  grid-template-columns: 40px 600px 70px 40px;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 0;
}

.track-item__index, .track-item__artist, 
.track-item__duration, .track-item__streams{
  color: d.$primary-text-color;
  font-size: 1.4rem;
}

.track-item__info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.track-item__info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.track-item__title {
  font-size: 1.6rem;
  color: d.$primary-light-text-color;
}

.track-item__like {
  background: none;
  border: none;
  cursor: pointer;
}

.track-item__like img {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.track-item__like:hover img {
  opacity: 1;
}

/* Popular-სთვის დამატებითი სვეტი */
.track-list--popular .track-item {
  grid-template-columns: 40px 300px 300px 70px 40px;
}

/* main right content */ 

.artist-main__right {
  width: 25%;
}

.artist-main__right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Artist Pick */
.artist-pick {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.artist-pick__title {
  font-size: 2rem;
  font-weight: 700;
  color: d.$primary-light-text-color;
}

.artist-pick__card {
  display: flex;
  gap: 1.3rem;
  padding: 1.3rem;
  background: rgba(24, 25, 30, 0.3);
  border-radius: 1rem;
}

.artist-pick__cover {
  width: 120px;
  object-fit: cover;
}

.artist-pick__text {
  font-size: 1.5rem;
  color: d.$primary-light-text-color;
}

/* Sidebar Image */
.artist-sidebar__image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Bio */
.artist-bio__text {
  font-size: 1.6rem;
  color: d.$primary-light-text-color;
}

/* Tags */
.artist-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.artist-tag {
  padding: 1rem 2rem;
  border-radius: 4.4rem;
  border: 2px solid d.$primary-text-color;
  background: transparent;
  font-size: 1.2rem;
  color: d.$primary-text-color;
  cursor: pointer;
  transition: all 0.2s ease;
}

.artist-tag:hover {
  color: d.$primary-light-text-color;
  border-color: d.$primary-text-background;
}
.artist-active {
  background-color: d.$libray-hover-color;
}

