@use "../abstracts/default" as d;

.main-content--song-background {
  background: linear-gradient(
  180deg,
  #242b37 0%, 
  #1b1d20 100%)
}

.song {
  padding: 2.5rem 1.2rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__divider {
    height: 1px;
    background-color: rgba(255,255,255,0.1);
  }
}

/* HERO */
.song-hero {
  display: grid;
  grid-template-columns: 50rem 1fr;
  gap: 6rem;

  &__image {
    width: 500px;
    height: 500px;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.song-hero__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: d.$primary-light-text-color;
  width: 720px;
}

/* TITLE */
.song-hero__title {
  font-size: 3.6rem;
  font-weight: 700;
}

/* META */
.song-hero__meta {
  display: flex;
  gap: 1.2rem;
  color: d.$primary-text-color;
  font-size: 1.4rem;
  font-weight: 400;
}

.song-hero__meta-title {
  color: d.$primary-light-text-color;
}

.song-hero__meta span::before {
  content: "•";
  margin-right: 1.2rem;
}

/* CONTROLS */
.song-hero__controls {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.song-hero__controls img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* PLAY BUTTON */
.song-hero__controls img:first-child {
  width: 40px;
  height: 40px;
}

/* GENRES */
.song-hero__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  cursor: pointer;
}

.song-hero__genres span {
  border: 2px solid rgb(137, 137, 137, 0.25);
  padding: 1rem 2rem;
  border-radius: 4.4rem;
  font-size: 1.4rem;
  color: d.$primary-text-color;
}

/* ARTISTS */
.song-hero__artists {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.song-hero__artist {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.song-hero__artist img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.song-hero__artist-name {
  font-weight: 500;
  font-size: 1.5rem;
  color: d.$primary-light-text-color;
  margin-bottom: 1rem;
}

.song-hero__artist span {
  font-size: 1.5rem;
  color: d.$primary-text-color;
}


/* -- LYRICS SECTION -- */
.song-lyrics__tabs {
  display: flex;
  gap: 5rem;
  border-bottom: 2px solid rgba(d.$primary-text-color, 0.2);
  padding-bottom: 1.7rem;
}

.song-lyrics__tab {
  background: none;
  border: none;
  color: d.$primary-text-color;
  font-size: 1.4rem;
  cursor: pointer;
}

.song-lyrics__tab--active {
  color: d.$primary-light-text-color;
  position: relative;
}

.song-lyrics__tab--active::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #22c55e;
}

.song-lyrics__tab:hover {
  color: d.$primary-light-text-color;
}

.song-lyrics__content {
  display: flex;
  gap: 21rem;
  padding-top: 3.5rem;
}

.song-lyrics__actions {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.song-lyrics__actions img {
  width: 20px;
  cursor: pointer;
}

.song-lyrics__text {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 5.5rem;
  color: d.$primary-light-text-color;
  
  // ტექსტის fade effect
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 30%,
    rgba(0,0,0,0) 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 30%,
    rgba(0,0,0,0) 100%
  );
}