@use "../abstracts/default" as d;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.discover__tab {
  @include m.primary-button;
}
.discover__tab.focuse {
  background-color: v.$color-text-primary;
  color: #000;
  font-weight: 600;
}

.discover__top {
  padding: 1.2rem 2.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1.2rem !important;
  background-color: rgba(6, 6, 6, 0.8);
  backdrop-filter: blur(10rem);
}

.discover-page {
  background: linear-gradient(#1b2d2a 0%, #1e3833 40%, #603319 100%);

  padding-bottom: 10rem; // ბოლოში რომ არ გაწყდეს
}

.discover-hero {
  @include m.flex-align(5rem);
  padding: 6rem 22rem;
}

/* LEFT SIDE (BIG COVER) */

.discover-hero__main-cover {
  width: 39rem;
}

.discover-hero__main-cover img {
  width: 100%;
  display: block;
  border-radius: v.$radius-lg;
}

/* RIGHT SIDE */

.discover-hero__info {
  @include m.flex-align(1.8rem);
}

/* Mini stacked card */

.discover-hero__mini-cover {
  width: 18rem;
  border-radius: v.$radius-lg;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    display: block;
  }
}

/* TEXT BLOCK */

.discover-hero__text {
  @include m.flex-column(1.8rem);
}

.discover-hero__title {
  font-size: v.$text-xl;
  font-weight: 700;
  color: v.$color-text-primary;
}

.discover-hero__meta {
  font-size: v.$text-sm;
  color: v.$color-text-secondary;
}

.discover-hero__meta .dot {
  margin: 0 0.5rem;
}

.discover-hero__author {
  color: v.$color-text-primary;
}

/* ACTIONS */

.discover-hero__actions {
  @include m.flex-align(2.4rem);
}

.btn {
  @include m.btn-reset;
}

.btn--play {
  @include m.flex-center;

  img {
    width: 4rem;
  }
}

.btn--icon img {
  width: 2.2rem;
  @include m.icon-hover;
}

/* Save group (icon + 500K) */

.discover-hero__save-group {
  @include m.flex-align(1rem);
}

.discover-hero__likes {
  font-size: v.$text-xs;
  color: v.$color-text-secondary;
}

/* TAGS */

.discover-hero__tags {
  display: flex;
  gap: 1.2rem;
}

.discover-hero__tag {
  padding: 0.8rem 1.3rem;
  border: 2px solid v.$color-border-soft;
  border-radius: v.$radius-pill;
  font-size: v.$text-xs;
  color: v.$color-text-secondary;

  &:hover {
    color: v.$color-text-primary;
    background-color: v.$color-bg-secondary;
    transition: all v.$transition-base;
    cursor: pointer;
  }
}

.header-discover {
  background-color: v.$color-bg-secondary;
}
