@import url("https://api.fontshare.com/v2/css?f[]=satoshi@500,700,400&display=swap");
body {
  background-color: rgb(6, 6, 6);
  font-family: "Satoshi";
  font-weight: 400;
  letter-spacing: 3%;
  padding: 1rem 1rem 0 3.4rem;
}
body button {
  font-family: "Satoshi";
  font-weight: 400;
  letter-spacing: 3%;
}

.content-wrapper {
  display: grid;
  padding-bottom: 1.2rem;
  grid-template-columns: 26rem 1fr;
  grid-template-rows: 5rem 1fr 8rem;
  height: calc(100vh - 10px);
  grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-section {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: rgb(51, 56, 66);
  border-radius: 1rem;
}

.header-section nav,
.header-section nav ul {
  display: flex;
}

.header-section nav {
  width: 100%;
  justify-content: space-between;
}
.header-section nav li {
  display: flex;
}
.header-section nav ul:first-of-type li {
  padding: 1.2rem 3rem;
  border-radius: 1rem;
}
.header-section nav ul:first-of-type li a {
  width: 21rem;
}
.header-section nav ul:first-of-type .header-home {
  background-color: rgb(17, 17, 17);
}
.header-section nav ul:last-of-type {
  width: 24.5rem;
  justify-content: space-between;
}
.header-section nav ul:last-of-type img {
  margin: 0;
}

.header-section nav a {
  color: rgb(137, 137, 137);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.header-section nav a img {
  margin-right: 1.8rem;
}

.aside-wrapper {
  grid-area: sidebar;
  width: 26rem;
  padding: 1rem 0 0 0;
}
.aside-wrapper .pinned-music {
  width: auto;
  position: absolute;
  right: 0;
  top: -0.7rem;
  padding: 1.2rem;
}
.aside-wrapper .aside-library {
  margin-bottom: 4.5rem;
}
.aside-wrapper li {
  margin-bottom: 3.2rem;
  position: relative;
}
.aside-wrapper a {
  color: rgb(137, 137, 137);
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.aside-wrapper a img {
  width: 2rem;
  margin-right: 2.2rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 1rem 0 0.5rem 0;
  column-gap: 0.5rem;
  overflow-x: hidden;
}

.main-container.active {
  grid-template-columns: 1fr 35.8rem;
}

.friend-list {
  width: 33rem;
  background-color: white;
  font-size: 3rem;
  border: 0.1rem solid rgb(32, 32, 32);
  background-color: rgb(6, 6, 6);
  border-radius: 1rem;
  padding: 2.1rem;
}

#friends .friend-list-active {
  display: none;
}

#friends.active .friend-list-active {
  display: block;
}

#friends.active img {
  display: none;
}

.friend-list-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}
.friend-list-action p {
  color: rgb(224, 224, 224);
  font-size: 1.6rem;
}
.friend-list-action .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.friend-list-action .action img {
  cursor: pointer;
}

.friend-list-wrapper li {
  display: flex;
  margin-bottom: 2.5rem;
}
.friend-list-wrapper .friend-profile-image {
  margin-right: 12px;
}

.info-about-friend .friend-name {
  font-size: 1.2rem;
  color: rgb(224, 224, 224);
  margin-bottom: 1rem;
}
.info-about-friend .music-name {
  color: rgb(224, 224, 224);
  font-size: 1.4rem;
  margin-right: 1rem;
}
.info-about-friend .music-style {
  font-size: 1.4rem;
  color: rgb(137, 137, 137);
  margin-right: 1.5rem;
}
.info-about-friend span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-about-friend span img {
  margin-right: 1.5rem;
}

.main-content {
  border: 0.1rem solid rgb(32, 32, 32);
  border-radius: 1rem;
  padding: 0.2rem;
  width: calc(100vw - 30.4rem);
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
}

.main-content.active {
  width: calc(100vw - 64rem);
}

.main-content {
  padding: 1.2rem 2.5rem;
}

.home__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.home__tabs {
  display: flex;
  gap: 0.5rem;
}

.home__tab {
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(17, 17, 17);
  color: rgb(224, 224, 224);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.home__tab:hover {
  background-color: #3a3a3a;
}
.home__tab--active {
  background-color: #ffffff;
  color: #000;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  margin-bottom: 3rem;
}

.content-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.content-section__title {
  color: rgb(224, 224, 224);
  font-size: 2rem;
  font-weight: 700;
}

.content-section__actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.music-card {
  cursor: pointer;
  position: relative;
  width: 170px;
}

.music-card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.music-card__image {
  margin-bottom: 0.6rem;
}
.music-card__image img {
  border-radius: 1rem;
  display: block;
}

.music-card__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(224, 224, 224);
}

.music-card__badge {
  font-size: 1.4rem;
  color: #ce6e9a;
}

.music-card__description {
  font-size: 1.2rem;
  color: rgb(137, 137, 137);
}

.music-card--artist {
  text-align: center;
}

.music-card--artist .music-card__image {
  margin-bottom: 1.2rem;
}
.music-card--artist .music-card__image img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.music-card__contents {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.music-card__contents--podcast {
  position: relative;
  background-color: rgb(17, 17, 17);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
}

.music-card__contents--podcast::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 0.4rem;
  background-color: rgba(133, 197, 133, 0.6);
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.card-flex {
  display: flex;
  gap: 1rem;
  overflow: auto;
}

.search-page__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.search-page__section-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(224, 224, 224);
}

.search-page__recent-list {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.recent-card {
  width: 170px;
  text-align: center;
  cursor: pointer;
}

.recent-card__image {
  position: relative;
  margin-bottom: 1.6rem;
}

.recent-card__remove {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(17, 17, 17);
  color: rgb(137, 137, 137);
  font-size: 2.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-card__remove:hover {
  color: rgb(224, 224, 224);
}

.recent-card__title {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(224, 224, 224);
}

.recent-card__subtitle {
  font-size: 1.2rem;
  color: rgb(137, 137, 137);
}

/*-- browse all sectction starts here --*/
.search-page__main-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.6rem;
  color: rgb(224, 224, 224);
}

.search-page__browse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.search-page__browse-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(224, 224, 224);
}

.search-page__actions {
  display: flex;
  gap: 1rem;
}

/*-- Discover row --*/
.search-page__browse-section {
  margin-bottom: 2rem;
}

.category-card {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.category-card--blue {
  background-color: rgb(30, 50, 100);
}

.category-card__title {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(224, 224, 224);
  padding: 2rem;
}

.category-card__image {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  transform: rotate(25deg);
  transition: transform 0.3s ease, bottom 0.3s ease, right 0.3s ease;
}

.category-card__image img {
  border-radius: 0.5rem;
  width: 100%;
  display: block;
}

.category-card:hover .category-card__image {
  transform: rotate(0deg);
  bottom: 0;
  right: 0;
}

/* Wrapper */
.library-page__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

/* Left Controls */
.library-page__controls {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Sort & Group (icon + text) */
.library-page__sort, .library-page__group {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.icon-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: rgb(17, 17, 17);
}

.library-page__sort-label, .library-page__group-label {
  font-size: 1.4rem;
  color: rgb(137, 137, 137);
}

/* Active View Button */
.library-page__view-btn.is-active {
  background-color: rgb(17, 17, 17);
  border-radius: 0.5rem;
}

/*** library-section starts here ***/
.library-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
}

/* Card */
.library-card {
  width: 170px;
  cursor: pointer;
}

/* Image Block */
.library-card__image {
  position: relative;
  margin-bottom: 0.6rem;
}
.library-card__image img {
  width: 100%;
  display: block;
}

/* Pin */
.library-card__pin {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
}
.library-card__pin img {
  width: 19px;
  height: 19px;
}

/* text */
.library-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.library-card__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(224, 224, 224);
}

.library-card__count {
  font-size: 1.4rem;
  color: rgb(30, 215, 96);
}

.library-card__description {
  font-size: 1.2rem;
  color: rgb(137, 137, 137);
}

/* Wrapper */
.library-page__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

/* Right Controls */
.library-page__controls {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Sort & Group (icon + text) */
.library-page__sort, .library-page__group {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.icon-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: rgb(17, 17, 17);
}

.library-page__sort-label, .library-page__group-label {
  font-size: 1.4rem;
  color: rgb(137, 137, 137);
}

/* Active View Button */
.library-page__view-btn.is-active {
  background-color: rgb(17, 17, 17);
  border-radius: 0.5rem;
}

/*** liked songs section starts here ***/
.liked-songs__header,
.song-row {
  display: grid;
  grid-template-columns: 40px 300px 300px 70px 40px;
  align-items: center;
  justify-content: start;
}

.liked-songs__header {
  font-size: 1.4rem;
  color: rgb(137, 137, 137);
  padding: 1.2rem;
}

.liked-songs__divider {
  height: 2px;
  background-color: rgb(17, 17, 17);
  margin-bottom: 2rem;
}

.song-row {
  padding: 1rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.song-row:hover {
  background-color: rgb(17, 17, 17);
}
.song-row:hover .song-row__album {
  color: rgb(224, 224, 224);
}

.song-row__title-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.song-row__title-group img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}

.song-row__title {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  color: rgb(224, 224, 224);
}

.song-row__number {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(137, 137, 137);
}

.song-row__album, .song-row__duration, .song-row__artist {
  font-size: 1.4rem;
  color: rgb(137, 137, 137);
}

.song-row__like img {
  width: 18px;
  height: 18px;
}

.discover__tab {
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(17, 17, 17);
  color: rgb(224, 224, 224);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.discover__tab:hover {
  background-color: #3a3a3a;
}
.discover__tab--active {
  background-color: #ffffff;
  color: #000;
}

.discover__top {
  padding: 1.2rem 2.5rem;
}

.discover-page {
  background: linear-gradient(#1b2d2a 0%, #1e3833 40%, #603319 100%);
  padding-bottom: 10rem;
}

.discover-hero {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 6rem 22rem;
}

/* LEFT SIDE (BIG COVER) */
.discover-hero__main-cover {
  width: 390px;
}

.discover-hero__main-cover img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

/* RIGHT SIDE */
.discover-hero__info {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

/* Mini stacked card */
.discover-hero__mini-cover {
  width: 180px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.discover-hero__mini-cover img {
  width: 100%;
  display: block;
}

/* TEXT BLOCK */
.discover-hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.discover-hero__title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(224, 224, 224);
}

.discover-hero__meta {
  font-size: 1.4rem;
  color: rgb(137, 137, 137);
}

.discover-hero__meta .dot {
  margin: 0 0.5rem;
}

.discover-hero__author {
  color: rgb(224, 224, 224);
}

/* ACTIONS */
.discover-hero__actions {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn--play {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--play img {
  width: 40px;
}

.btn--icon img {
  width: 22px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.btn--icon:hover img {
  opacity: 1;
}

/* Save group (icon + 500K) */
.discover-hero__save-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.discover-hero__likes {
  font-size: 1.2rem;
  color: rgb(137, 137, 137);
}

/* TAGS */
.discover-hero__tags {
  display: flex;
  gap: 1.2rem;
}

.discover-hero__tag {
  padding: 0.8rem 1.3rem;
  border: 2px solid rgba(137, 137, 137, 0.1);
  border-radius: 2rem;
  font-size: 1.2rem;
  color: rgb(137, 137, 137);
}

.discover-hero__tag:hover {
  color: rgb(224, 224, 224);
  background-color: rgb(17, 17, 17);
  transition: all 0.2s ease;
  cursor: pointer;
}

.artist-hero {
  position: relative;
  height: 426px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Overlay */
.artist-hero__overlay {
  position: absolute;
  border-radius: inherit;
  inset: 0;
}

.artist-hero__overlay img {
  /* width: 100%; */
  object-fit: cover;
}

/* Content */
.artist-hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 3.5rem;
}

/* Text */
.artist-hero__name {
  font-size: 5rem;
  font-weight: 900;
  color: rgb(224, 224, 224);
  margin-bottom: 2rem;
}

.artist-hero__listeners {
  font-size: 1.4rem;
  color: rgb(224, 224, 224);
}

/* Actions */
.artist-hero__actions {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

/* Base button */
.btn {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* Play */
.btn--play {
  width: 40px;
}

/* Follow */
.btn--follow {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: rgba(137, 137, 137, 0.25);
  color: rgb(224, 224, 224);
  font-size: 1.4rem;
}

/* Icon buttons */
.btn--icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--icon img {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.btn--icon:hover img {
  opacity: 1;
}

.main-content--no-padding {
  padding: 0;
}

/* nav starts here */
.artist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.6rem;
  border-bottom: 0.1rem solid rgb(32, 32, 32);
}

/* List */
.artist-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

/* Buttons */
.artist-nav__btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(137, 137, 137);
  position: relative;
  transition: color 0.2s ease;
}

.artist-nav__btn:hover {
  color: rgb(224, 224, 224);
}

/* Active */
.artist-nav__btn--active {
  color: rgb(224, 224, 224);
}

.artist-nav__btn--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background: rgb(30, 215, 96);
  border-radius: 2px;
}

/* Search */
.artist-nav__search {
  background: none;
  border: none;
  cursor: pointer;
}

.artist-nav__search img {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.artist-nav__search:hover img {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
